.image {
  // height: 20px;
  height: 200px;
}

.image-container {
  // width: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
