.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.1875rem;
}

.card {
  width: 9.375rem;
  height: 12.5rem;
  margin: 0.625rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: #eeeeee;
  box-shadow: 3px 3px 3px #aaaaaa;
  border-radius: 5px;
  flex-wrap: wrap;
}
.card__content {
  flex: 0 0 100%;
  justify-self: center;
  text-align: center;
}
.card__title {
  flex: 0 0 100%;
  text-align: center;
  border-top: dashed 1px #555555;
  padding-top: 0.9375rem;
}

.card--active {
  background-color: #007bff;
}
